<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{866,761},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{771,902},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{194,989},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{771,995},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{866,854},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{864,947},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{1,446},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,324},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{158,193},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{280,193},{95,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{876,1},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{876,143},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{98,446},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{1,588},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{98,588},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{98,730},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{98,872},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{422,193},{95,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{1,730},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>club-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{280,290},{94,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{422,290},{94,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>club-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{564,290},{94,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{564,193},{95,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{706,290},{94,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{194,421},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{194,563},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{1,872},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{194,705},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{194,847},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{290,670},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{706,193},{95,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{848,285},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{387,528},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{484,386},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{290,812},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{123,324},{95,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>heart-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{386,670},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{483,528},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{580,386},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{290,386},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{386,812},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{482,670},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{579,528},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{290,528},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,140}</string>
                <key>spriteSourceSize</key>
                <string>{95,140}</string>
                <key>textureRect</key>
                <string>{{387,386},{95,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{676,386},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{482,812},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{94,140}</string>
                <key>textureRect</key>
                <string>{{578,670},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>input.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{873,190}</string>
                <key>spriteSourceSize</key>
                <string>{873,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{873,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>round_rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,129}</string>
                <key>spriteSourceSize</key>
                <string>{155,129}</string>
                <key>textureRect</key>
                <string>{{1,193},{155,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,139}</string>
                <key>spriteSourceSize</key>
                <string>{95,139}</string>
                <key>textureRect</key>
                <string>{{675,528},{95,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{578,812},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{290,954},{94,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{431,954},{94,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,139}</string>
                <key>spriteSourceSize</key>
                <string>{95,139}</string>
                <key>textureRect</key>
                <string>{{578,953},{95,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{869,427},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{772,665},{94,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade-08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{674,670},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,139}</string>
                <key>spriteSourceSize</key>
                <string>{95,139}</string>
                <key>textureRect</key>
                <string>{{772,427},{95,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,139}</string>
                <key>spriteSourceSize</key>
                <string>{95,139}</string>
                <key>textureRect</key>
                <string>{{772,568},{95,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spade-J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{674,811},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{770,761},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spade-Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,139}</string>
                <key>spriteSourceSize</key>
                <string>{94,139}</string>
                <key>textureRect</key>
                <string>{{675,952},{94,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Sprites.png</string>
            <key>size</key>
            <string>{971,1093}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605e725e0da919386c6b73acbc5e2821:d0936a75ed0bb8e68d6e393eda13a43a:4f1e2adb64e9833dc0d6799b3053df6d$</string>
            <key>textureFileName</key>
            <string>Sprites.png</string>
        </dict>
    </dict>
</plist>
